<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form>
    <ion-list>
        <ion-item>
          <ion-label position="floating">Usuario:</ion-label>
          <ion-input type="password" [value]="usuario.usuario"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password" [value]="usuario.password"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-button color="primary" (click)="login()" expand="block">
    Login
  </ion-button>

  <ion-button color="secondary" (click)="loginToken()" expand="block">
    Login token
  </ion-button>

  <ion-button color="tertiary" href="home" expand="block" routerLink="/home" routerDirection="root">
    Ir a home
  </ion-button>


</ion-content>
